body {
    font-family: "Arial Black", "Gadget", sans-serif;
}
#main {
    text-align: center;
}
.jumbotron {
    background-color: blue;
    color: yellow;
}
.container {
    margin-left: 25%;
}
#list {
    list-style: none;
}
li {
    padding-top: 30px;
}